*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    max-width: 1600px;
}


nav {
  

width: 1600px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 200px 16px 200px;
box-sizing: border-box;
border-bottom: 1px solid rgba(65, 37, 103, 1);
background-color:rgb(48, 38, 60);
 
}

.nav-logo {
  
  font-weight: bold;
}
.logo .tech{
  color: #ffffff;
}
.logo .wave{
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
-webkit-background-clip: text;
  color: transparent;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.nav-menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

button{
  padding: 12px 16px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background: linear-gradient(90deg, #CCCCCC, #FB09B4, #9100F8);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover{
  transform: translate(-5px);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);

}
.arrow{
  width: 15px;
  height: 10px;

}