*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    max-width: 1600px;
}


nav {
  


display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 200px 16px 200px;
box-sizing: border-box;
border-bottom: 1px solid rgba(65, 37, 103, 1);
background-color:rgb(48, 38, 60);
 
}

.nav-logo {
  
  font-weight: bold;
}
.logo .tech{
  color: #ffffff;
}
.logo .wave{
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);background-clip: text;
  color: transparent;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.nav-menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

button{
  padding: 12px 16px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background: linear-gradient(90deg, #CCCCCC, #FB09B4, #9100F8);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover{
  transform: translate(-5px);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);

}
.arrow{
  width: 15px;
  height: 10px;

}


/* banner section */
.hero {
  height: 100vh;
  width: 100%;
  background-color: #1A0B2E;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
 
}

.center-content {
  text-align: center;
  color: #fff;
  
}

.mic-wrapper {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 0 auto ;
  margin-bottom: 40px;
}

.circle {
  width: 100%;
  height: 100%;
  display: block;
}

.mic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  
}

.badge {
  position: absolute;
  top: 20px;
  right: 10px;

  background: #00ff88;
  color: #1a0b2e;

  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 20px;
}

h1 {
  font-size: 64px;
  margin-bottom: 8px;
}

p {
  font-size: 16px;
 opacity: 50%;
  margin-bottom: 24px;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  
}

.btn {
  padding: 12px 22px;
  border-radius: 30px;

  text-decoration: none;
  font-size: 14px;
  font-weight: 500;

  transition: transform 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
}

.spotify {
  background: linear-gradient(90deg, #CCCCCC, #FB09B4, #9100F8);
  color: #ffffff;
}

.subscribe {
  padding: 12px 20px;
  color: #00ff88;
  border-color: #CCCCCC;
  border-radius: 20px;
  box-shadow: 0 3px 5px rgba(130, 87, 87, 0.128);
  cursor: pointer;
}
/* about-podcast */
.about-podcast{
  max-width: 1600px;
  background-color: #1A0B2E;
  margin: 0 auto;
  padding:50px 200px ;
  gap: 50px;
}
.about-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-content h3{
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 16px;
}
.about-content p{
  font-size: 16px;
  font-weight: 200px;

  color: #ffffff;
  opacity: 60%;
  text-align: center;
}
.about-num{
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
padding: 80px 0 0 0;
}
.about-num h2{
  font-weight: 900;
  font-size: 48px;      
  color: #00ff88;
  gap: 80px;
  text-align: center;
  margin-bottom: 16px;
}
.about-num p{
  font-size: 12px;
  font-weight:400 ;
  color: #ffffff;
  opacity: 50%;
  gap: 80px;
  text-align: center;
}