*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    max-width: 1600px;
}


nav {
  


display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 200px 16px 200px;
box-sizing: border-box;
border-bottom: 1px solid rgba(65, 37, 103, 1);
background-color:rgb(48, 38, 60);
 
}

.nav-logo {
  
  font-weight: bold;
}
.logo .tech{
  color: #ffffff;
}
.logo .wave{
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);background-clip: text;
  color: transparent;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.nav-menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

button{
  padding: 12px 16px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background: linear-gradient(90deg, #CCCCCC, #FB09B4, #9100F8);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover{
  transform: translate(-5px);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);

}
.arrow{
  width: 15px;
  height: 10px;

}


/* banner section */
.hero {
  height: 100vh;
  width: 100%;
  background-color: #1A0B2E;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
 
}

.center-content {
  text-align: center;
  color: #fff;
  
}

.mic-wrapper {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 0 auto ;
  margin-bottom: 40px;
}

.circle {
  width: 100%;
  height: 100%;
  display: block;
}

.mic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  
}

.badge {
  position: absolute;
  top: 20px;
  right: 10px;

  background: #00ff88;
  color: #1a0b2e;

  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 20px;
}

h1 {
  font-size: 64px;
  margin-bottom: 8px;
}

p {
  font-size: 16px;
 opacity: 50%;
  margin-bottom: 24px;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  
}

.btn {
  padding: 12px 22px;
  border-radius: 30px;

  text-decoration: none;
  font-size: 14px;
  font-weight: 500;

  transition: transform 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
}

.spotify {
  background: linear-gradient(90deg, #CCCCCC, #FB09B4, #9100F8);
  color: #ffffff;
}

.subscribe {
  padding: 12px 20px;
  color: #00ff88;
  border-color: #CCCCCC;
  border-radius: 20px;
  box-shadow: 0 3px 5px rgba(130, 87, 87, 0.128);
  cursor: pointer;
}
/* about-podcast */
.about-podcast{
  max-width: 1600px;
  background-color: #1A0B2E;
  margin: 0 auto;
  padding:50px 200px ;
  gap: 50px;
}
.about-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-content h3{
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 16px;
}
.about-content p{
  font-size: 16px;
  font-weight: 200px;

  color: #ffffff;
  opacity: 60%;
  text-align: center;
}
.about-num{
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
padding: 80px 0 0 0;
}
.about-num h2{
  font-weight: 900;
  font-size: 48px;      
  color: #00ff88;
  gap: 80px;
  text-align: center;
  margin-bottom: 16px;
}
.about-num p{
  font-size: 12px;
  font-weight:400 ;
  color: #ffffff;
  opacity: 50%;
  gap: 80px;
  text-align: center;
}
/* why choose techwave section */
/* body {
  background: radial-gradient(circle at top, #2d0b59, #140022);
  color: #ffffff;
} */

  
/* ===== Section ===== */
.why-techwave {
  max-width: 1600px;
  margin: 0 auto;
  padding: 120px 200px;
  background-color:#230E3D ;
}

.why-techwave h1 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #FFFFFF;

}

/* ===== Grid (Desktop First) ===== */
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* ===== Card ===== */
.card {
  background: rgba(53, 17, 101, 0.4);
  border-radius: 20px;
  padding: 35px 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);

}

/* Big & Wide cards */
.card.large {
  grid-row: span 2;
}

.card.wide {
  grid-column: span 2;
}

/* Hover */
/* .card:hover {
  transform: translateY(-8px);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.6);
} */

/* ===== Icon ===== */
.icon {
  width: 60px;
  height: 63px;
  /* object-fit: contain; */
  margin-bottom: 16px;
  padding-top: 30px;
  padding-left: 30px;

  /* background: linear-gradient(135deg, #ff2fd4, #7b2cff);
  box-shadow: 0 0 15px rgba(255, 47, 212, 0.7);
  transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

/* Icon hover */
/* .card:hover .icon {
  transform: scale(1.15) rotate(6deg);
  box-shadow: 0 0 25px rgba(255, 47, 212, 1);
} */

/* ===== Text ===== */
.card h2 {
 font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: auto;
  margin-bottom: 16px;
  
}

.card p {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  opacity: 65%;
  margin-bottom: 40px;
}

/* ===== Mobile Responsive ===== */
/* @media (max-width: 768px) {
  .why-techwave {
    padding: 50px 16px;
  }

  .why-techwave h1 {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .card-grid {
    grid-template-columns: 1fr;
  } */

  /* .card.large,
  .card.wide {
    grid-column: auto;
    grid-row: auto;
  }

  .card {
    padding: 28px 22px;
  }

  .icon {
    width: 42px;
    height: 42px;
  }
} */

/* featured */
.featured {
  max-width: 1600px;
  background-color: #1A0B2E;
  margin: 0 auto;
  padding: 120px 200px;
}

.featured h2 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #FFFFFF;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.card {
  background-color: #250D44 ;
  border-radius: 20px;
  /* overflow: hidden; */
}

.video-wrap {
  position: relative;
  /* aspect-ratio: 16 / 9; */
  /* background: #111; */
}

.video-wrap iframe {
  width: 100%;
  height: 100%;
  border: none;
}
/* 
.play-btn {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
} */


.content {
  padding: 24px;
  
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.title p{
  font-size: 12px;
  font-weight: 400;
  opacity: 60%;
  margin-top: 12px;
}
.caption {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color:#FFFFFf;
}

.caption img {
  width: 16px;
  height: 16px;
}
/* 
@media (max-width: 480px) {
  .featured h2 {
    font-size: 24px;
  }

  .play-btn img {
    width: 52px;
    height: 52px;
  } */
/* meet the host section */
/* Section */
.host-section {
   max-width: 1600px;
  background-color: #1A0B2E;
  margin: 0 auto;
  padding: 0px 200px;
padding-bottom: 120px;
}

.section-title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #FFFFFf;
}

/* Card */
.host-card {
  max-width: 1200px;
  margin: auto;
  /* background: linear-gradient(135deg, #2b0a3d, #120018); */
  border-radius: 24px;
  padding: 40px;
  display: flex;
  gap: 40px;
  align-items: center;
}

/* Image */
.host-image img {
  width: 200px;
  height: 200px;
  /* object-fit: cover; */
  border-radius: 50%;
}

/* Content */
.host-content h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  color:#FFFFFF ;
}

.host-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: #ffffff;
  margin-bottom: 16px;
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: 0.3s; */
}

.social-icons a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.social-icons img {
  width: 16px;
  height: 16px;
}

/* 📱 Mobile Responsive */
/* @media (max-width: 768px) {
  .host-card {
    flex-direction: column;
    text-align: center;
    padding: 30px 20px;
  }

  .host-image img {
    width: 180px;
    height: 180px;
  }

  .host-content h2 {
    font-size: 24px;
  } */

  /* .section-title {
    font-size: 28px;
  }

  .social-icons {
    justify-content: center;
  } */
/* footer section */
.banner {
  max-width: 1600px;
  /* max-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./B13-A02-TechWave/assets/footer-bg.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 120px;
}
 .f-content .tech{
  color: #ffffff;
}
.f-content .wave{
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);background-clip: text;
  color: transparent;
}
.f-content h1 {
  font-size: 64px;
  font-weight: 700;
}

.f-content h1 span {
  color: #ff3fd2;
}

.socials {
  margin: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.socials img {
  width: 20px;
 height: 20px ;
}



.f-content p {
  display: flex;
  align-items: center;
  font-size: 14px;
  opacity: 0.8;
  gap: 8px;
  color: #FFFFFF;
}
.f-content .copyright{
  align-items: center;
  color: #FFFFFF;
  opacity: 0.8 ;
}
/* 📱 Mobile Responsive */
/* @media (max-width: 768px) {
  .content h1 {
    font-size: 42px;
  }

  .socials img {
    width: 28px;
  }
} */